
@{
    ViewBag.Title = "ManageUsers";
}

<h2>ManageUsers</h2>


<div id="container">
    <div id="leftdiv">
        <div>
            <span class="menuheadings">Overview</span><br />
        </div>
        <br />
        <br />

        <div>
            <span>
                <input id="Button_GetAllUsers" type="button" value="Get All Users" class="submenuHeadings" />
            </span><br />
        </div>
        <br />
        <br />
        <div>
            <span>
                <input id="Button_GetUserDiv" type="button" value="Get User" class="submenuHeadings" />
            </span><br />
        </div>
        <br />
        <br />
        <div>
            <span>
                <input id="Button_InsertUserDiv" type="button" value="Insert Users" class="submenuHeadings" />
            </span><br />
        </div>
        <br />
        <br />
        <div>
            <span>
                <input id="Button_UpdateUserDiv" type="button" value="Update Users" class="submenuHeadings" />
            </span><br />
        </div>
        <br />
        <br />
        <div>
            <span>
                <input id="Button_DeleteUserDiv" type="button" value="Delete Users" class="submenuHeadings" />
            </span><br />
        </div>
        <br />
        <br />

    </div>
    <div id="rightdiv">


        <div id="div_get_user">
            <input id="tbox_i_uid" type="text" placeholder="Enter User Id: " class="form-control" /><br />
            <input id="btn_getuser" type="button" value="Ok" class="btn btn-success" /><br />
            <br />
        </div>


        <div id="div_getall_users">
            <div id="div_tbl_getall_users">
            </div>
            <br />
        </div>


        <div id="div_insert_user">
            <div id="div_textboxes_insert">
                <input id="tbox_fname" type="text" placeholder="First Name" class="form-control" /><br />
                <input id="tbox_lname" type="text" placeholder="Last Name" class="form-control" /><br />
                <input id="tbox_email" type="text" placeholder="Email (example: a@a.com)" class="form-control" /><br />
                <input id="tbox_password" type="password" placeholder="Password" class="form-control" /><br />
                <input id="tbox_gender" type="text" placeholder="Gender" class="form-control" /><br />
                <input id="tbox_rid" type="text" placeholder="Role Id" class="form-control" /><br />
                <input id="tbox_cid" type="text" placeholder="Course Id" class="form-control" /><br />
            </div>

            <div style="float: left">
                <div id="div_btn_insert">
                    <input id="btn_insertuser" type="button" value="Insert" class="btn btn-success" />
                </div>

            </div>
            <div id="div_btn_cancel_insert">
                &nbsp; &nbsp; &nbsp; &nbsp;
                <input id="btn_cancelinsert" type="button" value="Cancel" class="btn btn-danger" /><br />
            </div>

        </div>

        <div id="div_update_user">
            <div id="div_get_user_update">
                <input id="tbox_u_uid" type="text" placeholder="Enter User Id to get the details of the User to update: " class="form-control" /><br />
                <div id="div_btn_getuser_u">
                    <input id="btn_getuser_u" type="button" value="Ok" class="btn btn-success" /><br />
                </div>
            </div>
            <div id="div_update_userblock">


            </div>

        </div>
        <div id="div_btns_updateblock">
            <div style="float: left">
                <div id="div_btn_update">
                    <input id="btn_updateuser" type="button" value="Update" class="btn btn-success" />
                </div>
            </div>

            <div id="div_btn_cancel_update">
                &nbsp; &nbsp; &nbsp; &nbsp;
                <input id="btn_cancelupdate" type="button" value="Cancel" class="btn btn-danger" /><br />
            </div>
        </div>



        <div id="div_delete_user">
            <input id="tbox_d_uid" type="text" placeholder="Enter User Id to delete the User: " class="form-control" /><br />
            <input id="btn_deleteuser" type="button" value="Delete" class="btn btn-danger" />&nbsp; &nbsp; &nbsp; &nbsp;
            <input id="btn_canceldelete" type="button" value="Cancel" class="btn btn-success" /><br />
        </div>


        <div>
            <br />
            <span id="error_id" class="text-danger"></span>
        </div>

    </div>
</div>



@section scripts{

    <script src="~/Scripts/usersjquery.js"></script>
    <link href="~/Content/AdminStyles.css" rel="stylesheet" />
}