@{
    ViewBag.Title = "Contact";
}
<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->
<h2>
    <span>Contact Information for UHCL</span>
</h2>
<h3>University of Houston Clear Lake</h3>
   <p>
    
    2700 Bay Area Blvd
       <br />
    Houston, TX 77058-1002
</p>
    <p>
        Phone: 281-283-7600
        <br />
        Email:
        <a href="mailto:news@uhcl.edu">news@uhcl.edu</a>
    </p>
<h3>
    University Academic Advising
</h3>
<p>
    Bayou Building B1408
    <br />
    2700 Bay Area Blvd, Box 208
    <br />
    Houston, TX 77058-1002
    <br /><br />
      <strong>  Fall/Spring Office Hours:</strong>
        <br />
        Monday - Friday, 9am - 4:30pm
        <br /><br />
    <strong>Summer Hours Office:</strong> 
    <br />
    By appointment only
</p>
<P>
    Phone: 281-283-3087
    <br />Fax: 281-283-3088
    <br />
    Email: <a href="mailto:advisingcenter@uhcl.edu">advisingcenter@uhcl.edu</a>
</P>

