@model CPSWebApplication.Models.ViewModel.UserModel
@{
    ViewBag.Title = "Faculty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 style="color: #06b759">Welcome to Faculty CPS Portal</h3>
@using (Html.BeginForm("", ""))
{
    <div style="background-color:#0a67b0; align-content:inherit">
        <div>
            <div style="align-items:center; padding-top:20px; padding-bottom:20px ;padding-left:50px; ">
                <button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("ViewBlanckCPS","FacultyAdvisor")')"><img src="https://newcdn.iconfinder.com/data/icons/startup-management/325/Project_management_Lessons_Report-256.png" class="img-responsive" width="140" />View Initial CPS</button>

                &nbsp;&nbsp;<button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("CreateDraftCPS","FacultyAdvisor")')"><img src="https://newcdn.iconfinder.com/data/icons/startup-management/325/Project_management_Project_Mandate-256.png" class="img-responsive" width="140" />Create Draft CPS</button>
            </div>
            <div>
                <br/>
                <!--<button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("ViewDraftCps","FacultyAdvisor")')">View Draft CPS</button>

                <button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("ViewFinalCPS","FacultyAdvisor")')">View Final CPS</button>-->
            </div>
        </div>
    </div>
}

