@model CPSWebApplication.Models.ViewModel.UserModel
@{
    ViewBag.Title = "Secretary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 style="color: #06b759" >Welcome to Secretary CPS Portal</h3>
<div style="background-color: #0a67b0; align-content:inherit">
    <div style="align-content:center; padding-top:20px; padding-bottom:20px ;padding-left:50px; ">
        <button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("StudentList","Secretary")')"><img src="https://cdn2.iconfinder.com/data/icons/startup-management/325/Project_management_Lessons_Log-256.png" class="img-responsive" width="140" />List of Students</button>
    </div>
    <br/>
</div>