
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to CPS portal </h2>
<h2>Undergraduate</h2>

<p class="text-justify">
    CSE Academic Advising will create a Candidate Plan of Study (CPS) during a student’s first semester within CSE at UHCL (for students who started advising with the University Academic Advising Center, your CPS is made in the first semester after your transition). CSE Academic Advisors use transfer credit and completed UHCL courses to complete the CPS draft, assign a faculty advisor to the student, then email that draft to the student at their UHCL email address. The student will meet the faculty advisor for approval of the CPS Draft and to discuss career options, degree electives and transfer courses in question. When the CPS Draft has been signed by the faculty advisor and student, it will be returned to the advising office. The Final CPS will be reviewed and approved by the CSE Academic Advisor.

    The Final CPS will be emailed to the student. The student needs to sign and return the Final CPS, or they can come directly to the CSE Advising office to sign in person. The original approved CPS is held in the student's academic file and a copy is mailed to the student. Subsequent requests to substitute courses or vary from the requirements as stated on the approved CPS must be documented on a CPS Change Form and submitted to the faculty advisor for approval.
</p>
<h2>Graduate</h2>

<p class="text-justify">
    All graduate students are assigned faculty advisors upon acceptance into a Master's degree program, and faculty advisor name and contact information are noted on the formal acceptance letter. CSE Academic Advising will create a Candidate Plan of Study (CPS) during a student’s first semester within CSE at UHCL; the CPS will include degree requirements as well as assigned foundation courses noted in the formal acceptance letter.the CPS Draft is ready so they can contact the faculty advisor to discuss career options for the plan and coursework that will be required for the degree. At this time, students should also Task questions about Thesis or Capstone requirements and careers in the field of study.

    When the CPS Draft has been signed by the faculty advisor and student, it will be returned to the CSE Advising office. The Final CPS will be reviewed and approved by the CSE Academic Advisor. The Final CPS will be emailed to the student. The student needs to sign and return the Final CPS, or they can come directly to the CSE Advising office to sign in person. The original is held in the student's academic file and a copy is mailed to the student. Subsequent requests to substitute courses or vary from the requirements as stated on the approved CPS must be documented on a CPS Change Form and submitted to the faculty advisor for approval.
</p>
<h2>Faculty Advisors</h2>
<p class="text-justify">
    Also identified on the undergraduate and graduate CPS is a faculty advisor. The faculty advisor can be a helpful contact for students with questions about the degree program or career considerations. College of Science and Engineering faculty and Career Services are invaluable resources for students facing career decisions and current or future job searches.
</p>