body {
    margin-left: 25%;
}

h1 {
    margin-left: 15%;
    color: white;
}
form {
    width: 60%;
    background-color: darkgray;
    font-family: 'Courier New'
}

h4, h3, #finalPage {
    color: red;
    font-weight: bold;
}

#btn {
    font-family: 'Courier New';
    width: 20%;
}

#heading {
    color: red;
    font-size: medium;
    font-weight: bold;
}

#pgno {
    color: red;
    font-weight: bold;
}



#ddlCountry {
    font-family: 'Courier New';
}
#DOB {
    font-family: 'Courier New';
}